body{
    background-color: black;
}
#header-nav{
    background-color: rgb(161, 147, 18);
    border-radius: 0;
    border: 0;
}
#logo-img{
    height:150px;
    width: 150px;
}
#header{
    background-image: url("./img/logo2.jpg");
}